<component name="ArtifactManager">
  <artifact name="Plugin">
    <output-path>$PROJECT_DIR$/.out/artifacts/Plugin</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true">
        <file>file://$PROJECT_DIR$/build.xml</file>
        <target>replace-tokens-in-teamcity-plugin-xml</target>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="server">
        <element id="archive" name="local-cloud.jar">
          <element id="module-output" name="teamcity-local-cloud" />
          <element id="dir-copy" path="$PROJECT_DIR$/resources" />
        </element>
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/teamcity-plugin-dist.xml" output-file-name="teamcity-plugint.xml" />
    </root>
  </artifact>
</component>